/*Start Footer*/
.footer
{
    background-color: #222;
    padding: 20px 0 40px 0;
    .footer-header
    {
        margin-bottom: 10px;
        color: #dddddd;
        letter-spacing: 5.3px;
        font-weight: 300;
        font-size: 1rem;
    }
    .border-span
    {
        display: block;
        border: 1px solid #dddddd;
        width: 100px;
        margin: auto;
        border-radius: 5px;
    }  
    .img-footer
    {
        margin-top: 30px;
        .footer-one
        {
            display: inline-block;
            width: 24%; 
            img
            {
                max-width: 100%;
                width: 50%;  
            }
        }
    }
}
.love
{
    background-color: #111;
    .made-with
    {
        padding: 15px 0;
        color: #DDDDDD;
    }
}
/*End Footer*/